body {
  font-family: 'Roboto';
}

footer {
  font-size: 11px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer .licence {
  float: right;
}


.text-back-red,
.text-back-red a {
  color: rgba(52, 52, 52, .7);
}

.text-back-red a:hover,
.text-back-red a:focus {
  color: #fff;
}

#about .container {
  max-width: 1000px;
}

#about a.gfea-logo:hover img,
#about a.gfea-logo:focus img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

#about .gfea-logo img {
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;

  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition: transform .4s ease-in;
     -moz-transition: transform .4s ease-in;
      -ms-transition: transform .4s ease-in;
       -o-transition: transform .4s ease-in;
          transition: transform .4s ease-in;
}

#services,
#portfolio {
  padding-top: 20px;
  padding-bottom: 20px;
}

.backdrop {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal ul {
  text-align: left;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.touch-events .portfolio-box .portfolio-box-caption {
  opacity: 1;
  height: 20%;
}

.portfolio-box {
  max-width: none;
}
