.navbar-toggle {
  float: left;
  margin-left: 15px;
  border: none;
}

.navbar-toggle .icon-bar {
  transition: background-color .3s linear;
}

@media(max-width:768px) {
  .navbar-default {
    border-color: rgba(255,255,255,.3);
    background-color: transparent;
  }

  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255,255,255,.7);
  }

  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: inherit;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255,255,255,.7);
  }

  .navbar-default .navbar-toggle:focus .icon-bar,
  .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
  }

  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
      color: #fff;
  }

  .navbar-default.affix,
  .navbar-default.open-navbar {
      border-color: rgba(34,34,34,.05);
      background-color: #fff;
  }

  .navbar-default.affix .navbar-toggle .icon-bar {
    background-color: #888;
  }

  .navbar-default.affix .navbar-header .navbar-brand,
  .navbar-default.open-navbar .navbar-header .navbar-brand {
      color: #f05f40;
  }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus,
  .navbar-default.open-navbar .navbar-header .navbar-brand:hover,
  .navbar-default.open-navbar .navbar-header .navbar-brand:focus {
      color: #eb3812;
  }

  .navbar-default.open-navbar .navbar-toggle:focus .icon-bar,
  .navbar-default.open-navbar .navbar-toggle:hover .icon-bar {
    background-color: #eb3812;
  }

  .navbar-default.affix .nav > li>a,
  .navbar-default.affix .nav>li>a:focus {
      color: #222;
  }

  .navbar-default.affix .nav > li>a:hover,
  .navbar-default.affix .nav>li>a:focus:hover {
      color: #f05f40;
  }
}
