.cta-events {
  max-width: 500px;
  margin: 0 auto;
}

.cta-events .helper-text,
.cta-events h2 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.cta-events h2 a {
  font-weight: 700;
  font-size: 25px;
}

.cta-events h2 a:hover {
  text-decoration: none;
}

.count-down {
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
}

.count-down > div {
  display: inline-block;
  width: 25%;
}

.count-down div > span {
  padding: 10px 10px 0;
  display: inline-block;
}

.small-text {
  font-size: 8px;
}

.after-countdown {
  margin-top: 20px;
  display: none;
}

@media(min-width:550px) {
  .cta-events h2 a {
    font-size: 50px;
  }

  .count-down {
    font-size: 40px;
  }

  .count-down > div {
    width: 100px;
  }

  .small-text {
    font-size: 12px;
  }

}
