header {
  min-height: 100vh;
  background: none;
  display: flex;
  align-items: center;
}

header .header-content {
  padding-bottom: 0;
  padding-top: 0;
}


header .scroll-arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  color: #ddd;
  font-size: 35px;
}

header .header-content .header-content-inner p {
  color: #fff;
  padding: 10px 20px;
  font-weight: 400;
  background-color: rgba(0,0,0,.3);
}

.header-image {
  opacity: .8;
  height: 100%;
  width: 100%;
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .swiper-header {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.swiper-header .swiper-slide {
  background-color: #fff;
  width: 100%;
}

@media(max-width:768px) and (orientation:landscape) {
  header .header-content .header-content-inner hr {
    margin: 15px auto;
  }
}
