header {
  min-height: 100vh;
  background: none;
  display: flex;
}

header .header-content {
  display: flex;
  align-items: center;
  padding-bottom: 0;
  padding-top: 0;
}


header .scroll-arrow {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ddd;
}

header .header-content .header-content-inner p {
  color: #fff;
  padding: 10px 20px;
  font-weight: 400;
  background-color: rgba(0,0,0,.3);
}

.header-image {
  opacity: .8;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../img/header.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
