body {
  font-family: 'Roboto';
}

.text-back-red,
.text-back-red a {
  color: rgba(52, 52, 52, .7);
}

.text-back-red a:hover,
.text-back-red a:focus {
  color: #fff;
}

#services,
#portfolio {
  padding-top: 20px;
}

.backdrop {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
}
