{{ "<!-- ASIDE -->" | safeHTML }}
<aside class="bg-dark">
  <div class="events-container text-center">
    <div class="call-to-action">
        {{ with $.Site.Params.aside.headline }}<h2>{{ . }}</h2>{{ end }}
        {{ with $.Site.Params.aside.description }}<p>{{ . }}</p>{{ end }}
    </div>
    <hr class="primary">
    <div class="row">
    {{ range .Site.Data.events }}
      <div class="col-lg-3 col-md-6 col-sm-6 text-center wow bounceIn">
        <div class="service-box">
          <img src="img/events/{{ .img }}" class="img-circle" alt="">
          {{ with .title }}<h3>{{ . }}</h3>{{ end }}
          {{ with .category }}<h4>{{ . }}</h4>{{ end }}
          {{ with .description }}
          <p class="text-muted">{{ . }}</p>
          {{ end }}
          <a href="#eventModal{{ .modalID }}" data-toggle="modal">Mais detalhes</a>
        </div>
      </div>
    {{ end }}
    </div>
  </div>
</aside>
