{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                {{ with .Site.Params.contact.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.contact.headline .Site.Params.contact.description }}
                    <hr class="light">
                {{ end }}
                {{ with .Site.Params.contact.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>

            {{ with .Site.Params.contact.facebook }}
                <div class="col-sm-4 text-center">
                    <i class="fa fa-facebook fa-3x wow bounceIn"></i>
                    <p class="text-back-red">
                        <a href="{{.link}}"
                          target="blank"
                          class="ga-click"
                          data-name="Facebook"
                          data-category="Contacto">{{ .text | markdownify }}</a>
                    </p>
                </div>
            {{ end }}

            {{ if .Site.Params.contact.email }}
                <div class="col-sm-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p class="text-back-red">
                        <a href="mailto:{{ .Site.Params.contact.email }}"
                          class="ga-click"
                          data-name="Send Email"
                          data-category="Contacto">{{ .Site.Params.contact.email }}</a>
                    </p>
                </div>
            {{ end }}

            {{ if .Site.Params.contact.email }}
                <div class="col-sm-4 text-center">
                    <i class="fa fa-home fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    {{ with .Site.Params.contact.address }}
                    <address class="text-back-red">
                        <a class="ga-click"
                          href="https://maps.google.com?saddr=Current+Location&daddr={{ .coord }}" target="blank"
                          data-name="Ver Mapa"
                          data-category="Contacto">
                          {{ .address }}
                          <br>
                          {{ .postalCode }} {{ .place }}
                          <br>
                        </a>
                    </address>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
</section>
