{{ "<!-- EVENTS -->" | safeHTML }}
<section id="events">
  <div class="events-container text-center">
    <div class="call-to-action">
        {{ with $.Site.Params.events.headline }}<h2>{{ . }}</h2>{{ end }}
      <hr class="primary">
        {{ with $.Site.Params.events.description }}<p>{{ . }}</p>{{ end }}
    </div>
    <div class="row">
    {{ range .Site.Data.events }}
      <div class="col-lg-6 col-md-6 col-sm-6 text-center wow bounceIn">
        <div class="service-box">
          <img src="img/events/{{ .img }}" class="img-circle" alt="">
          {{ with .title }}<h3>{{ . }}</h3>{{ end }}
          {{ with .category }}<h4>{{ . }}</h4>{{ end }}
          {{ with .summary }}
          <p class="text-muted">{{ . }}</p>
          {{ end }}
          {{ if .description }}
          <a class="ga-click" href="#eventModal{{ .modalID }}" data-toggle="modal" data-name="{{ .title }}" data-category="Evento">Mais detalhes</a>
          {{ end }}
        </div>
      </div>
    {{ end }}
    </div>
  </div>
</section>
