{{ "<!-- HEADER -->" | safeHTML }}
<header>

  <div class="swiper-header swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="header-image" style="background-image: url(img/header.jpg);"></div>
        </div>
        <div class="swiper-slide">
          <div class="header-image" style="background-image: url(img/portfolio/artesanato.jpg);"></div>
        </div>
    </div>
  </div>



  <div class="header-content">
    <div class="header-content-inner">
      {{ with .Site.Params.hero.slogan }}
        <h1 class="wow zoomIn">{{ . | markdownify  }}</h1>
      {{ end }}
      {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
        <hr>
      {{ end }}
      {{ if .Site.Params.hero.event }}
        {{ partial "cta-events.html" .Site.Params.hero.event }}
      {{ else }}
        {{ with .Site.Params.hero.subtitle }}
          <p class=hero-subtitle>{{ . | markdownify }}</p>
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ if .Site.Params.hero.scrollButton }}
    <div class="scroll-arrow">
      <a href="#about" class="page-scroll">
        <span class="fa fa-angle-double-down" aria-hidden="true"></span>
      </a>
    </div>
  {{ end }}
</header>
