{{ "<!-- HEADER -->" | safeHTML }}
<header>
  <div class="header-image"></div>
  <div class="header-content">
    <div class="header-content-inner">
      {{ with .Site.Params.hero.slogan }}
        <h1 class="wow zoomIn">{{ . | markdownify  }}</h1>
      {{ end }}
      {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
        <hr>
      {{ end }}
      {{ if .Site.Params.hero.event }}
        {{ partial "cta-events.html" .Site.Params.hero.event }}
      {{ else }}
        {{ with .Site.Params.hero.subtitle }}
          <p>{{ . | markdownify }}</p>
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ if .Site.Params.hero.scrollButton }}
    <div class="scroll-arrow">
      <a href="#about" class="page-scroll">
        <span class="fa fa-angle-double-down fa-4x" aria-hidden="true"></span>
      </a>
    </div>
  {{ end }}
</header>
