{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content text-center">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr"><div class="rl"></div></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body">
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                        {{ if and .title }}
                            <hr class="star-primary">
                        {{ end }}
                        <img src="img/portfolio/{{ .img }}" class="img-responsive img-centered" alt="">
                        {{ with .description }}
                          <div class="text-left">{{ . | markdownify }}</div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        {{ with $.Site.Params.portfolio.modal.buttonText }}
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
        {{ end }}
    </div>
</div>
{{ end }}
