<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}pt-PT{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNH9N5T" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

        {{ if .Site.Params.navigation }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.hero }}
            {{ partial "hero.html" . }}
        {{ end }}

        {{ if .Site.Params.about }}
            {{ partial "about.html" . }}
        {{ end }}

        {{ if .Site.Params.services.list }}
            {{ partial "services.html" . }}
        {{ end }}

        {{ if .Site.Data.projects }}
            {{ partial "portfolio.html" . }}
        {{ end }}

        {{ if .Site.Params.events }}
            {{ partial "events.html" . }}
        {{ end }}

        {{ if .Site.Params.contact }}
            {{ partial "contact.html" . }}
        {{ end }}

        {{ if .Site.Params.footer }}
            {{ partial "footer.html" . }}
        {{ end }}

        {{ if .Site.Data.projects }}
            {{ partial "modals-projects.html" . }}
        {{ end }}

        {{ if .Site.Data.events }}
            {{ partial "modals-events.html" . }}
        {{ end }}

        {{ partial "privacy.html" . }}

        {{ partial "js.html" . }}

        {{ template "_internal/google_analytics_async.html" . }}
    </body>
</html>
